/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    @author    : Samuel Reyes Alvarez
*/

.menu-bar {
    -fx-background-color: rgb(0, 0, 0, 0.8);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
}

.menu .left-container {
    -fx-background-color: black;
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.bloque {
    -fx-background-color: rgb(0, 0, 0, 0.6);
}

.bloque2 {
    -fx-background-color: rgb(0, 0, 0);
}

.progressbar-vida {
    -fx-accent: red;
}

.sinfondo {
    -fx-background-color: transparent;
}

#bloque-izqda {
    -fx-background-radius:  15px;
}